<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lorem Ipsum</title>
</head>
<body>

<h1>Wylosowano nowy tekst Lorem Ipsum</h1>
<p th:text="${wordsloremipsum}"></p>



</body>
</html>